<!DOCTYPE html>
<html>
<head>
  <title>HackingJournalism</title>
  <%= stylesheet_link_tag    '//vjs.zencdn.net/4.11/video-js.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//vjs.zencdn.net/4.11/video.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
